<!DOCTYPE html>
<html ng-app="atelier">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <meta name="fragment" content="!"/>
    <meta name="google-site-verification" content="I-ChjVdeOrC-0B3SdA-96wtCgw2XbzrZZx5uL2lIV54"/>

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Google Open Sans -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" id="load_css_before"/>

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Font awesome -->
    <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Toaster -->
    <link href="bower_components/angular-toastr/dist/angular-toastr.css" rel="stylesheet"/>
    <!-- Main Trendeo CSS files -->
    <link rel="stylesheet" href="bower_components/ladda/dist/ladda-themeless.min.css"/>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/style.css -->
    <link href="styles/animate.css" rel="stylesheet"/>
    <link href="styles/style.css" rel="stylesheet"/>
    <!-- endbuild -->

    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png"/>
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/icons/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/icons/manifest.json"/>
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5"/>
    <link rel="shortcut icon" href="/icons/favicon.ico"/>
    <meta name="apple-mobile-web-app-title" content="some_url"/>
    <meta name="application-name" content="some_url"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-TileImage" content="/icons/mstile-144x144.png"/>
    <meta name="msapplication-config" content="/icons/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>
</head>

<!-- ControllerAs syntax -->
<body ng-controller="MainCtrl as main" class="{{$state.current.data.specialClass}} skin">

<!-- Main view  -->
<div ui-view></div>

<script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js" data-apikey="8a894da725b4c3093f4a59e4b59788b1"></script>

<!-- build:js(.) scripts/vendor.js -->
<!-- jQuery and Bootstrap -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!-- MetsiMenu -->
<script src="bower_components/metisMenu/dist/metisMenu.js"></script>

<!-- SlimScroll -->
<script src="bower_components/slimScroll/jquery.slimscroll.js"></script>

<!-- Angular scripts-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!-- Toastr -->
<script src="bower_components/angular-toastr/dist/angular-toastr.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>

<!-- Validate -->
<script src="bower_components/angular-validation/dist/angular-validation.js"></script>
<script src="bower_components/angular-validation/dist/angular-validation-rule.js"></script>

<!-- Angular Dependiences -->
<script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>
<script src="bower_components/angularjs-filters/filters.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>

<!-- Moment -->
<script src="bower_components/moment/min/moment-with-locales.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>

<!-- ng-FileUpload -->
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>

<!-- Ladda -->
<script src="bower_components/ladda/js/spin.js"></script>
<script src="bower_components/ladda/js/ladda.js"></script>
<script src="bower_components/angular-ladda/dist/angular-ladda.js"></script>
<!-- endbuild -->

<!--Auth0 -->
<script src="bower_components/auth0-lock/build/auth0-lock.js" type="text/javascript"></script>

<script src="bower_components/a0-angular-storage/dist/angular-storage.js" type="text/javascript"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.js" type="text/javascript"></script>

<script src="bower_components/auth0-angular/build/auth0-angular.js" type="text/javascript"></script>
<script src="bower_components/auth0.js/build/auth0.js" type="text/javascript"></script>

<script src="scripts/ga.js" type="application/javascript" async></script>
<script src="scripts/newrelic.js" type="application/javascript" async></script>

<script src="bower_components/angulartics/dist/angulartics.min.js"></script>
<script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
<script src="bower_components/angulartics-newrelic-insights/dist/angulartics-newrelic-insights.min.js"></script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!-- Custom and plugin javascript -->
<script src="scripts/inspinia.js"></script>

<!-- Anglar App Script -->
<script src="scripts/controllers/mainCtrl.js"></script>
<script src="scripts/controllers/productListCtrl.js"></script>
<script src="scripts/controllers/productPreviewModalCtrl.js"></script>
<script src="scripts/controllers/productEditCtrl.js"></script>
<script src="scripts/controllers/shopDetailsCtrl.js"></script>
<script src="scripts/controllers/categoriesEditCtrl.js"></script>
<script src="scripts/controllers/itemsActionCtrl.js"></script>
<script src="scripts/controllers/ordersActionCtrl.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/directives.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/bugsnag.js"></script>
<!-- endbuild -->

</body>
</html>
