<div ng-controller="OrderDetailsCtrl as orderCtrl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Order details</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a ui-sref="orders.active">Orders</a>
                </li>
                <li class="active" ng-switch="order.orderStatus">
                    <strong>Order #{{ order.subOrderId }}</strong>
                    <span class="label label-default" ng-switch-default>Action required</span>
                    <span class="label label-warning" ng-switch-when="FULLFILLED">Shipped out</span>
                    <!--<span class="label label-warning" ng-switch-when="PARTIALLY_FULLFILLED">Partially shipped out</span>-->
                    <span class="label label-warning" ng-switch-when="IN_DELIVERY">In delivery</span>
                    <span class="label label-primary" ng-switch-when="DELIVERED">Delivered</span>
                    <span class="label label-danger" ng-switch-when="CANCELLED">Order cancelled</span>

                </li>
            </ol>
        </div>
    </div>
    <div class="printed-info" hidden>
        <div print-invoice-inner></div>
    </div>
    <div class="printed-customer-invoice" hidden>
        <div print-customer-invoice></div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Order information</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <dl class="dl-horizontal">
                                <dt>Order #:</dt>
                                <dd>{{ order.subOrderId }}</dd>

                                <dt>Created at:</dt>
                                <dd>{{ order.added | amDateFormat:'YYYY-MM-DD hh:mm' }} (<span am-time-ago="order.added"/>)</dd>
                                <dt>Last action taken:</dt>
                                <dd><span am-time-ago="order.lastModification"></span></dd>
                            </dl>
                            <hr class="hr-line-dashed"/>
                            <dl class="dl-horizontal">
                                <dt>Customer name</dt>
                                <dd>
                                    <button class="btn btn-xs" ng-click="callMeMayBe(order.username)">
                                        <i class="fa fa-envelope"></i></button>
                                    &nbsp;{{ order.customerName }}

                                </dd>
                            </dl>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Shipping address</h5>
                    </div>
                    <div class="ibox-content">
                        <address>
                            <strong>{{ order.deliveryAddress.firstName }} {{ order.deliveryAddress.lastName
                                }}</strong><br/> {{ order.deliveryAddress.street1 }}<br/>
                            <span ng-if="order.deliveryAddress.street2">{{ order.deliveryAddress.street2 }}<br/></span>
                            <span ng-if="order.deliveryAddress.street3">{{ order.deliveryAddress.street3 }}<br/></span>
                            {{ order.deliveryAddress.city }}, {{ order.deliveryAddress.postalCode}}
                            {{order.deliveryAddress.country}}<br/>
                            <span ng-if="order.deliveryAddress.phone"><i class="fa fa-phone"></i> {{ order.deliveryAddress.phone }}</span><br/>
                            <span ng-if="order.deliveryAddress.email">{{order.deliveryAddress.email}}</span>
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Billing address</h5>
                    </div>
                    <div class="ibox-content" ng-if="!order.billingAddress">
                        <address>
                            <strong>{{ order.deliveryAddress.firstName }} {{ order.deliveryAddress.lastName
                                }}</strong><br/> {{ order.deliveryAddress.street1 }}<br/>
                            <span ng-if="order.deliveryAddress.street2">{{ order.deliveryAddress.street2 }}<br/></span>
                            <span ng-if="order.deliveryAddress.street3">{{ order.deliveryAddress.street3 }}<br/></span>
                            {{ order.deliveryAddress.city }}, {{ order.deliveryAddress.postalCode}}
                            {{order.deliveryAddress.country}}<br/>
                            <span ng-if="order.deliveryAddress.phone"><i class="fa fa-phone"></i> {{ order.deliveryAddress.phone }}</span>
                        </address>
                    </div>
                    <div class="ibox-content" ng-if="order.billingAddress">
                        <address>
                            <strong>{{ order.billingAddress.firstName }} {{ order.billingAddress.lastName
                                }}</strong><br/> {{ order.billingAddress.street1 }}<br/>
                            <span ng-if="order.billingAddress.street2">{{ order.billingAddress.street2 }}<br/></span>
                            <span ng-if="order.billingAddress.street3">{{ order.billingAddress.street3 }}<br/></span> {{
                            order.billingAddress.city }}, {{ order.billingAddress.postalCode}}
                            {{order.billingAddress.country}}<br/>
                            <span ng-if="order.billingAddress.phone"><i class="fa fa-phone"></i> {{ order.billingAddress.phone }}</span>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Transaction information</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <dl class="dl-horizontal">
                                <dt>Payment method</dt>
                                <dd>{{ order.paymentMethod }}</dd>
                            </dl>
                            <hr class="hr-line-dashed"/>
                            <dl class="dl-horizontal">
                                <dt>Total amount</dt>
                                <dd>{{ order.value | number:2 }} {{ order.currency }}</dd>

                                <dt>Shipping fee</dt>
                                <dd>{{ order.shipmentCost | number:2}} {{ order.currency }}</dd>

                                <dt>Transaction ID</dt>
                                <dd>{{ order.chargeId }}</dd>
                            </dl>
                            <hr class="hr-line-dashed"/>
                            <dl class="dl-horizontal">
                                <dt>Value paid</dt>
                                <dd>{{ order.value | number:2 }} {{ order.currency }}</dd>

                                <dt>Commission fee</dt>
                                <dd>{{ order.trendeoFee | number:2 }} {{ order.currency }}</dd>

                                <dt>Shipping fee</dt>
                                <dd>{{ order.shipmentCost | number:2}} {{ order.currency }}</dd>
                            </dl>
                            <dl>
                                <dd>
                                    <a href="#" print-div=".printed-info" class="btn btn-primary btn-xs pull-right">Print
                                        an invoice</a>
                                    <a href="#" print-div=".printed-customer-invoice" class="btn btn-primary btn-xs pull-right">Print
                                        customer invoice</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="ibox-title" ng-if="order.refundRequestIDs">
                        <h5>Refunds</h5>
                    </div>
                    <div class="ibox-content" ng-if="order.refundRequestIDs">
                        <ul ng-repeat="refundId in order.refundRequestIDs">
                            <li><a ui-sref="orders.refunds">{{ refundId }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">
                        <strong>{{ order.totalProducts }}</strong> item(s) on order<span nf-if="order.cancelledProducts.length > 0">, <strong>{{ order.cancelledProducts.length }}</strong> cancelled item(s)</span>
                        </span>

                        <h5>Items in the order #{{ order.subOrderId }}</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-xs check-all"
                                        ng-click="checkAll(); orderCtrl.showAddition = showAddition;">
                                    <i class="fa fa-check-circle"></i> Select all
                                </button>
                                <button class="btn btn-warning btn-xs check-all"
                                        ng-click="itemNumber = []; orderCtrl.showAddition = 0; ">
                                    <i class="fa fa-circle-o"></i> Deselect all
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content ng-animate" ng-show="orderCtrl.showAddition > 0">
                        <div class="row">
                            <div class="col-xs-6">
                                Items checked <strong>{{ orderCtrl.showAddition }}</strong>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-success pull-right m-l-sm"
                                        ng-click="removeItems('Ship items', order, itemNumber)">
                                    <i class="fa fa-truck"></i> Ship items
                                </button>
                                <button class="btn btn-danger pull-right m-l-sm"
                                        ng-click="removeItems('Cancel items', order, itemNumber)">
                                    <i class="fa fa-minus-circle"></i> Cancel items
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Active products -->
                    <div class="ibox-content product-listing" ng-repeat="items in order.orderedProducts">
                        <ng-include src="'product-listing'"></ng-include>
                    </div>

                    <!-- Cancelled section -->
                    <div class="ibox-content product-listing  cancelled" ng-repeat="items in order.cancelledProducts">
                        <ng-include src="'product-listing'"></ng-include>
                    </div>
                </div>

                <!-- History -->
                <div class="ibox-content inspinia-timeline" ng-repeat="hist in order.orderHistory">
                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-briefcase"></i> {{ hist.occurred | amDateFormat:'DD-MM-YY hh:mm' }} <br/>
                                <small class="text-navy"><span am-time-ago="hist.occurred"></span></small>
                            </div>
                            <div class="col-xs-7 content no-top-border">
                                <p class="m-b-xs"><strong>{{hist.productSKU}} {{ hist.type }}</strong></p>
                                <p ng-switch="hist.type">The <strong>{{ hist.responsible | lowercase }}</strong> <span
                                        ng-switch-when="ORDER_CREATED">has accepted this order into processing</span>
                                    <span ng-switch-when="ITEM_CANCELLED_BY_USER">has cancelled products on this order for this reason: {{ dictionary[hist.message] }}.</span>
                                    <span ng-switch-when="ITEM_CANCELLED_BY_MERCHANT">has cancelled products on this order for this reason: {{ dictionary[hist.message] }}</span>
                                    <span ng-switch-when="SHIPPED">has shipped out items for SKU: {{ hist.productSKU }}</span>
                                    <span ng-switch-default>did something unexpected, please contact <strong>trendeo</strong> support to inquiry if needed.</span>
                                </p>
                                <!--<p>-->
                                <!--<pre>{{ hist | json}}</pre>-->
                                <!--</p>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script type="text/ng-template" id="product-listing">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <div>
                    <div class="col-lg-1 col-md-2 col-xs-1 checkbox-section">
                        <div class="checkbox checkbox-success" ng-if="!items.status">
                            <input id="{{'checkbox' + $index}}"
                                   type="checkbox"
                                   ng-model="itemNumber[$index]"
                                   ng-click="orderCtrl.showAddition = (itemNumber[$index]) ? orderCtrl.showAddition + 1 : orderCtrl.showAddition - 1"/>
                            <label for="{{'checkbox' + $index}}"> </label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-5 image-section">
                        <div class="order-detail-product">
                            <img ng-src="//web-img.some_url/{{ items.images[0] }}" style="width: 100%"/>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-4 col-xs-12 desc">
                        <h4>
                            {{ items.product.title }} </h4>
                    </div>
                    <div class="col-lg-5 col-md-4 col-xs-12">
                        <dl class="dl-horizontal">
                            <dt>ID:</dt>
                            <dd>{{items.product.merchantProductId}}</dd>

                            <dt>SKU:</dt>
                            <dd>{{items.sku}}</dd>

                            <dt>Color:</dt>
                            <dd>{{ items.color }}</dd>

                            <dt>Size:</dt>
                            <dd>{{ items.size }}</dd>
                        </dl>
                        <dl class="dl-horizontal" ng-if="items.trackingCompany || items.trackingId">
                            <dt>Shipment provider</dt>
                            <dd>{{ items.trackingCompany }}</dd>

                            <dt>Shipment ID</dt>
                            <dd>{{ items.trackingId }}</dd>
                        </dl>
                    </div>
                    <div class="col-lg-1 col-md-1 col-xs-4 no-padding">
                        <input type="text" class="form-control text-center" disabled value="{{items.amount}}"/>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-8 m-t-n-lg">
                                            <span class="label label-warning-light">
                                                {{ items.status ? items.status : "PENDING" }}
                                            </span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-8"
                        <h4>
                            {{items.totalValue | number:2}} {{ order.currency }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
