<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Active orders</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Orders</a>
            </li>
            <li class="active">
                <strong>Active orders</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>

</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce" ng-controller="OrdersListCtrl as ordersList">
    <div class="printed-info" hidden>
        <div print-invoice>

        </div>
    </div>


    <div class="ibox-content m-b-sm border-bottom" ng-model="searchForm">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="order_id">Order ID</label> <input type="text"
                                                                                        id="order_id"
                                                                                        name="order_id"
                                                                                        value=""
                                                                                        placeholder="Order ID"
                                                                                        ng-init="searchForm.orderId = ''"
                                                                                        class="form-control"
                                                                                        ng-model="searchForm.orderId"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="status">Order status</label> <select class="form-control"
                                                                                           id="status"
                                                                                           name="status"
                                                                                           ng-model="searchForm.status"
                                                                                           ng-init="searchForm.status = ''">
                    <option value="">Show All</option>
                    <option value="NEW">Action required</option>
                    <option value="FULLFILLED">Shipped out</option>
                    <option value="PARTIALLY_FULLFILLED">Partially shipped out</option>
                    <option value="IN_DELIVERY">In delivery</option>
                    <option value="DELIVERED">Delivered</option>
                    <option value="CANCELLED">Order cancelled</option>
                </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="customer">Customer</label> <input type="text"
                                                                                        id="customer"
                                                                                        name="customer"
                                                                                        value=""
                                                                                        placeholder="Customer"
                                                                                        class="form-control"
                                                                                        ng-model="searchForm.customer"
                                                                                        ng-init="searchForm.customer = ''"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="btn-group m-t-md">
                    <button class="btn"
                            ng-click="searchForm.customer = ''; searchForm.status = ''; searchForm.orderId = ''; searchOrders(searchForm)">
                        <span class="fa fa-times-circle" aria-hidden="true"></span> Reset
                    </button>
                    <button class="btn btn-primary" ng-click="searchOrders(searchForm, dateRange)">
                        <span class="fa fa-search" aria-hidden="true"></span> Search
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="date_range">Date added</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input date-range-picker class="form-control" id="date_range" name="date_range" type="text" ng-model="dateRange" options="dateRangeOpts" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="amount">Amount</label>
                    <input type="text" id="amount" name="amount" value="" placeholder="Amount" class="form-control" />
                </div>
            </div> -->

        </div>

    </div>

    <script type="text/ng-template" id="valuePopover.html">
        <div>TEST</div>
    </script>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <button class="btn btn-primary pull-right btn-xs" ng-show="ordersCount > 0" ng-click="massShipAction()">
                        <i class="fa fa-truck"></i> Mass Ship
                    </button>
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                        <tr>

                            <th>Order ID</th>
                            <th data-hide="phone">Date added</th>
                            <th data-hide="phone">Total value</th>
                            <th data-hide="phone">Quantity</th>
                            <th data-hide="phone">Customer</th>
                            <th data-hide="phone" ng-if="auth.profile.userType === 'ROOT'">Merchant</th>
                            <th data-hide="phone" class="text-right">Status</th>
                            <th data-hide="phone" class="text-right">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in orders | orderBy: '-added'" ng-if="orders">
                            <td>
                                <div class="col-lg-1 col-md-2 col-xs-1 checkbox-section">
                                    <div class="checkbox checkbox-success products-list">
                                        <input id="{{'checkbox' + $index}}"
                                               type="checkbox"
                                               ng-true-value="'{{order.subOrderId}}'"
                                               ng-false-value="false"
                                               ng-model="ordersSelected[$index]"
                                               ng-change="checkCount([$index]);"/> <label for="{{'checkbox' + $index}}"></label>
                                    </div>
                                </div>
                                {{ order.subOrderId}}
                            </td>
                            <td>
                                {{ order.added | amDateFormat:'DD-MM-YYYY'}}
                            </td>
                            <td ng-switch="order.paymentMethod">
                                {{ (order.value + order.shipmentCost) | number: 2 }} {{ order.currency }} <span ng-switch-when="Stripe"
                                                                                                                class="fa fa-cc-stripe fa-lg"
                                                                                                                aria-hidden="true"></span> <span
                                    ng-switch-when="PayPal"
                                    class="fa fa-paypal fa-lg"
                                    aria-hidden="true"></span>
                            </td>
                            <td>
                                {{ order.totalProducts }}
                            </td>
                            <td>
                                {{ order.customerName }}

                            </td>

                            <td ng-if="auth.profile.userType === 'ROOT'">{{ order.merchantId }}</td>

                            <td ng-switch="order.orderStatus" class="text-right">
                                <span class="label label-default" ng-switch-default>Action required</span> <span class="label label-warning"
                                                                                                                 ng-switch-when="FULLFILLED">Shipped out</span>
                                <!--<span class="label label-warning" ng-switch-when="PARTIALLY_FULLFILLED">Partially shipped out</span>-->
                                <span class="label label-warning" ng-switch-when="IN_DELIVERY">In delivery</span> <span class="label label-primary"
                                                                                                                        ng-switch-when="DELIVERED">Delivered</span>
                                <span class="label label-danger" ng-switch-when="CANCELLED">Order cancelled</span>
                            </td>


                            <td class="text-right action-column">

                                <div class="btn-group btn-group-xs" uib-dropdown>
                                    <button id="split-button"
                                            type="button"
                                            class="btn btn-default"
                                            ui-sref="orders.edit({orderId: order.subOrderId})">
                                        View order
                                    </button>
                                    <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                        <span class="caret"></span> <span class="sr-only">Actions</span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                        <li ng-if="order.orderStatus == 'NEW'"><a href="#" ng-click="processOrder('Ship items', order.subOrderId)">Ship</a>
                                        </li>
                                        <li ng-if="order.orderStatus == 'NEW'"><a href="#" ng-click="processOrder('Cancel items', order.subOrderId)">Cancel</a>
                                        </li>
                                        <li ng-if="order.orderStatus != 'CANCELLED' && order.status != 'SHIPPED_OUT'">
                                            <a href="#" ng-click="contactCustomer(order.username)">Contact customer</a></li>
                                        <!--<li><a href="#">Download customer receipt</a></li>-->
                                        <li>
                                            <a href="#"
                                               print-div=".printed-info"
                                               ng-mouseover=" ordersList.printOrder = order; createInvoiceNumber(order.subOrderId)">Print invoice</a>
                                        </li>
                                        <!--<li class="divider"></li>-->
                                        <!--<li><a href="#">Cancel order</a></li>-->
                                    </ul>
                                </div>
                            </td>

                            <!--<td class="text-right action-column">-->
                            <!--<span uib-dropdown on-toggle="toggled(open)">-->
                            <!--<button id="single-button" type="button" class="btn btn-xs btn-default" uib-dropdown-toggle ng-disabled="disabled" dropdown-append-to="appendToEl">-->
                            <!--Actions <span class="caret"></span>-->
                            <!--</button>-->
                            <!--<ul uib-dropdown-menu aria-labelledby="simple-dropdown">-->
                            <!--<li><a ui-sref="orders.edit">View details</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--</ul>-->
                            <!--</span>-->
                            <!--</td>-->
                        </tr>
                        <tr>
                            <h1 ng-show="orders.length == 0" ng-class="text-center">No results <a href="#" ng-click="rebootScope()">reload</a></h1>
                        </tr>
                        <tr>
                            <h1 ng-show="$scope.error">Something went wrong please <a href="#" ng-click="rebootScope()">reload</a></h1>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>
