<div class="hat" style="overflow: auto">
    <h2 style="float: left">CUSTOMER INVOICE</h2>
</div>
<div class="right-block" style="text-align: right; margin-top: 15px">
    <b>From:</b><br/>
    <div class="customer-name">
        {{ data.displayName ? data.displayName : data.merchantName }}
    </div>
    {{ data.businessAddress.street1 }} <br/>
    <div ng-init="displayStreet2 = (data.businessAddress.street2) ? {'display': 'block'} : {'display': 'none'}"
         ng-style="displayStreet2">
        {{ data.businessAddress.street2 }}
    </div>
    <div ng-init="displayStreet3 = (data.businessAddress.street3) ? {'display': 'block'} : {'display': 'none'}"
         ng-style="displayStreet3">
        {{ data.businessAddress.street3 }}
    </div>
    {{ data.businessAddress.city }}<br/> {{ data.businessAddress.state }}<br/> {{
    data.businessAddress.postalCode }}<br/>
            <span ng-init="displayNoneVat = (data.businessAddress.vat) ? {'display': 'block'} : {'display': 'none'}"
                  ng-style="displayNoneVat">VAT number: {{ data.businessAddress.vat }}</span>
            <!--<span ng-init="displayNoneNoVat = (data.businessAddress.vat) ? {'display': 'none'} : {'display': 'block'}"-->
                  <!--ng-style="displayNoneNoVat"> not VAT registered </span><br/>-->
    <!--<div class="company-name">-->
        <!--TC FASHION MARKETS LTD-->
    <!--</div>-->
    <!--<div class="company-number">-->
        <!--Company no.: 09999039-->
    <!--</div>-->
    <!--<div class="company-adress-street">-->
        <!--18-21 Corsham Street-->
    <!--</div>-->
    <!--<div class="company-adress-city">-->
        <!--London-->
    <!--</div>-->
    <!--<div class="postal-code">-->
        <!--N1 6DR-->
    <!--</div>-->
    <!--<div class="company-vat-number"-->
         <!--ng-init="displayNone = (data.businessAddress.vat) ? {'display': 'block'} : {'display': 'none'}"-->
         <!--ng-style="displayNone">-->
        <!--VAT Number: {{ data.businessAddress.vat }}-->
    <!--</div>-->
    <div class="order-date" style="margin-top: 15px">
        <b>Order date: {{ order.added | amDateFormat:'YYYY-MM-DD' }}</b>
    </div>
    <div class="invoice-number">
        <b>Inv No:  {{ order.subOrderId }}</b>
    </div>
</div>
<div class="left-block">
    <div>
    Send to:
</div>
<br/>
<div style="margin-left: 100px">
    {{ order.deliveryAddress.firstName }} {{ order.deliveryAddress.lastName }}<br/> {{ order.deliveryAddress.street1 }} {{ order.deliveryAddress.street2 }} {{ order.deliveryAddress.street3 }}
    <br/> {{ order.deliveryAddress.city }}<br/> {{ order.deliveryAddress.state }}<br/> {{ order.deliveryAddress.postalCode }}<br/> <br/>
</div>
<!--Please note that this invoice is not a demand for payment. -->
<br/> <br/>
    <!--<b>TO:</b><br/>-->
    <!--<div class="customer-name">-->
        <!--{{ data.merchantName }}-->
    <!--</div>-->
    <!--{{ data.businessAddress.street1 }} <br/>-->
    <!--<div ng-init="displayStreet2 = (data.businessAddress.street2) ? {'display': 'block'} : {'display': 'none'}"-->
         <!--ng-style="displayStreet2">-->
        <!--{{ data.businessAddress.street2 }}-->
    <!--</div>-->
    <!--<div ng-init="displayStreet3 = (data.businessAddress.street3) ? {'display': 'block'} : {'display': 'none'}"-->
         <!--ng-style="displayStreet3">-->
        <!--{{ data.businessAddress.street3 }}-->
    <!--</div>-->
    <!--{{ data.businessAddress.city }}<br/> {{ data.businessAddress.state }}<br/> {{-->
    <!--data.businessAddress.postalCode }}<br/>-->
            <!--<span ng-init="displayNoneVat = (data.businessAddress.vat) ? {'display': 'block'} : {'display': 'none'}"-->
                  <!--ng-style="displayNoneVat">VAT number: {{ data.businessAddress.vat }}</span>-->
            <!--<span ng-init="displayNoneNoVat = (data.businessAddress.vat) ? {'display': 'none'} : {'display': 'block'}"-->
                  <!--ng-style="displayNoneNoVat"> not VAT registered </span><br/> <br/> -->
    <b>ORDER NO:</b> <i>{{ order.subOrderId }}</i><br/>
    <!--<b>Payment method:</b> {{ order.paymentMethod }}<br/> -->
    ALL PRICES ARE STATED IN POUNDS STERLING (£)
</div>
<table class="printed-table"
       style="text-align: center; border: 1px solid black; font-size: 14px; border-collapse:collapse; text-transform: uppercase; margin-top: 15px; width: 100%">
    <tr>
        <td style="border: 1px solid black; width:175px; display: table-cell; box-sizing: border-box;">
            <b>PRODUCT</b>
        </td>
        <td style="width: 50px; border: 1px solid black; display: table-cell; box-sizing: border-box">
            <b>QTY</b>
        </td>
        <td style="border: 1px solid black; width: 70px">
            <b>PRICE</b>
        </td>
        <td style="border: 1px solid black; width: 70px;">
            <b>ITEM TOTAL</b>
        </td>
    </tr>
    <tr ng-repeat="items in order.orderedProducts">
        <td style="border: 1px solid black">
            {{ items.product.title }}<br />
            {{ items.sku }}<br />
            Color: {{ items.color }}<br />
            Size: {{ items.size }}
        </td>
        <td style="border: 1px solid black">
            {{ items.amount }}
        </td>
        <td style="border: 1px solid black">
            {{ items.productValue | number:2 }}
        </td>
        <td style="border: 1px solid black">
            {{ items.totalValue | number:2 }}
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid black">
            <b>Item total</b>
        </td>
        <td style="border: 1px solid black">

        </td>
        <td style="border: 1px solid black">

        </td>

        <td style="border: 1px solid black">
            <b>{{ order.value | number:2 }}</b>
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid black text-transform: none">
            <b>Shipping fee </b>
        </td>
        <td style="border: 1px solid black">

        </td>
        <td style="border: 1px solid black">

        </td>
        <td style="border: 1px solid black">
            <b>{{ order.shipmentCost| number:2 }}</b>
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid black">
            <b>Total</b>
        </td>
        <td style="border: 1px solid black">

        </td>
        <td style="border: 1px solid black">

        </td>

        <td style="border: 1px solid black">
            <b>{{ order.value + order.shipmentCost | number:2 }}</b>
        </td>
    </tr>
</table>
<br/>
