<div class="product-details result-view modal-xs">
    <div class="modal-header">
        <h4 class="modal-title">Edit stock for {{ product.title }}</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 ">
                <div class="row no-margin">
                    <div class="col-md-12 col-xs-12">
                        <dl class="dl-horizontal">
                            <dt>Product ID</dt>
                            <dd>{{ product.merchantProductId }}</dd>
                        </dl>

                        <fieldset class="form-horizontal">
                            <div class="form-group"><label class="col-sm-3 control-label">Sale price:</label>
                                <div class="col-sm-9 col-lg-4">
                                    <div class="input-group">
                                        <input type="number"
                                               class="form-control"
                                               placeholder="Sale price"
                                               ng-model="product.price"
                                               ng-pattern="pricePattern"
                                               valid-number
                                               required/> <span class="input-group-addon">{{ product.currency ? product.currency : 'GBP' }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-3 control-label">Base price:</label>
                                <div class="col-sm-9 col-lg-4 ">
                                    <div class="input-group">
                                        <input type="number"
                                               class="form-control"
                                               placeholder="Base price"
                                               ng-model="product.originalPrice"
                                               ng-pattern="pricePattern"
                                               ng-disabled="!product.price"
                                               ng-class="{'invalid' : (product.price > 0 && product.price > product.originalPrice)}"
                                               valid-number/> <span class="input-group-addon">{{ product.currency ? product.currency : 'GBP' }}</span>
                                    </div>
                                    <div ng-show="Product.price > Product.originalPrice" class="invalid-message">
                                        Sales price cannot be higher than base price
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <table class="table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                            <tr>
                                <th>SKU</th>
                                <th data-toggle="true">Color</th>
                                <th>Size</th>
                                <th width="200">Stock</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="variation in product.variations">
                                <td>
                                    <input type="text" class="form-control" ng-model="variation.sku" disabled/>
                                </td>
                                <td>{{ variation.color }}</td>
                                <td>{{ variation.sizeSelect }}</td>
                                <td>
                                    <div class="form-group">
                                        <input type="number" ng-model="variation.stock" min="0" max="1000" class="form-control"/>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="submitChange()" ladda="loading">Update stock</button>
    </div>
</div>
