<div ng-controller="ProductEditCtrl as editCtrl" ng-show="!noData">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Product {{ Product.id ? 'edit' : 'add' }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="admin.main">Home</a>
                </li>
                <li>
                    <a>Products</a>
                </li>
                <li class="active">
                    <strong>{{ pageTitle }} </strong>
                    <span ng-switch="Product.status">
                        <span class="label label-primary" ng-switch-default>{{ Product.status }}</span>
                        <span class="label label-danger" ng-switch-when="Removed">{{ Product.status }}</span>
                        <span class="label label-plain" ng-switch-when="Draft">{{ Product.status }}</span>
                    </span> <span class="label label-warning"
                                  ng-if="Product.id && (Product.finalStock < 5 && Product.finalStock > 0)">Low stock</span>
                    <span class="label label-danger" ng-if="Product.id && (Product.finalStock < 2 && Product.finalStock > 0)">Last items</span> <span
                        class="label label-default"
                        ng-if="Product.id && (Product.finalStock == 0 || !Product.finalStock)">Out of stock</span>
                </li>
            </ol>
        </div>
    </div>

    <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
    <!--<div class="ibox">-->
    <!--<div class="ibox-title">-->
    <!--<h5>Debug data</h5>-->
    <!--<div ibox-tools="" class="ng-scope">-->
    <!--<div class="ibox-tools dropdown" dropdown="">-->
    <!--<a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="ibox-content">-->
    <!--<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 160px;">-->
    <!--<div slim-scroll box-height="160px" class="ng-isolate-scope" style="overflow: hidden; width: auto; height: 160px;">-->
    <!--{{ Product }}-->
    <!--</div>-->
    <!--<div class="slimScrollBar" style="width: 7px; position: absolute; top: 72px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 87.6712px; background: rgb(0, 0, 0);"></div>-->
    <!--<div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.9; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
            <div class="col-lg-9">
                <div class="tabs-container">

                    <input type="hidden" ng-model="Product.id" value="{{ Product.id }}"/>
                    <uib-tabset>
                        <uib-tab heading="General information">
                            <div class="panel-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Name:</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Product name"
                                                   ng-model="Product.title"
                                                   ng-change="Product.metaTitle = Product.title"
                                                   ng-pattern="simplePattern"
                                                   required/>
                                        </div>
                                    </div>

                                    <div class="form-group"><label class="col-sm-3 control-label">ID:</label>
                                        <div class="col-sm-9 col-lg-4">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Product ID"
                                                   ng-model="Product.merchantProductId"
                                                   ng-change="generateVariations()"
                                                   ng-disabled="edition"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Top Category</label>
                                        <div class="col-sm-9">
                                            <div class="col-md-12 no-padding">
                                                <div class="col-md-4 no-padding">
                                                    <select ng-model="Product.gender"
                                                            ng-change="firstCategories(Product.gender);"
                                                            ng-disabled="edition"
                                                            class="form-control">
                                                        <option ng-value="Men" selected>Men</option>
                                                        <option ng-value="Women">Women</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 no-padding" ng-show="mainCategoriesFiltered.length>0">
                                                    <select class="form-control col-md-4"
                                                            ng-model="Product.firstCategory"
                                                            ng-change="secondCategories(Product.gender, Product.firstCategory)"
                                                            ng-disabled="!Product.gender || edition">
                                                        <option ng-repeat="oneCategory in mainCategoriesFiltered"
                                                                ng-value="oneCategory"
                                                                value="{{oneCategory}}">
                                                            {{oneCategory}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 no-padding" ng-show="mainCategoriesFilteredAgain.length>0">
                                                    <select class="form-control col-md-4"
                                                            ng-model="Product.secondCategory"
                                                            ng-disabled="!Product.firstCategory || edition"
                                                            ng-change="finalCategories(Product.gender, Product.firstCategory, Product.secondCategory)">
                                                        <option ng-repeat="secondOneCategory in mainCategoriesFilteredAgain"
                                                                ng-value="secondOneCategory"
                                                                value="{{secondOneCategory}}">
                                                            {{secondOneCategory}}
                                                        </option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="Product.mainCategoriesFinal.length > 0">
                                        <label class="col-sm-3 control-label">Categories</label>
                                        <div class="col-sm-9">
                                            <isteven-multi-select input-model="Product.mainCategoriesFinal"
                                                                  output-model="categoriesList"
                                                                  button-label="text"
                                                                  item-label="text"
                                                                  tick-property="ticked"
                                                                  helper-elements="none reset"
                                                                  max-labels="5"
                                                                  max-height="200px"></isteven-multi-select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Tags</label>
                                        <div class="col-sm-9">
                                            <tags-input ng-model="Product.tags" ng-keyup="Product.metaTags = Product.tags"></tags-input>

                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                    <!--<label class=" col-sm-3 control-label">Description:</label>-->
                                    <!--<div class="col-sm-9">-->
                                    <!--<textarea class="form-control" rows="3" ng-model="desctiption" ng-change="metaTagDesctiption = desctiption" ng-pattern="extendedPattern ">-->
                                    <!--{{ Product.description }}-->
                                    <!--</textarea>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <input type="hidden" ng-model="Product.description" value="{{ Product.description }}"/>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Meta Tag Title:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="..." ng-model="Product.metaTitle"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Meta Tag Description:</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="Sheets containing Lorem"
                                                   ng-model="Product.metaDescription"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Meta Tag Keywords:</label>
                                        <div class="col-sm-9">
                                            <tags-input ng-model="Product.metaTags"></tags-input>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </uib-tab>

                        <uib-tab heading="Pricing and Variations information">
                            <div class="panel-body" ng-show="!colorsList || !Product.sizesTypes">
                                <fieldset class="form-horizontal">
                                    <h2>You must pick the Categories First!</h2>
                                </fieldset>
                            </div>
                            <div class="panel-body" ng-show="colorsList && Product.sizesTypes">

                                <fieldset class="form-horizontal"
                                          ng-click="createVariation(colorsTable, Product.sizes_list)"
                                          ng-keyup="createVariation(colorsTable, Product.sizes_list)">

                                    <div class="form-group"><label class="col-sm-3 control-label">Sale price:</label>
                                        <div class="col-sm-9 col-lg-4">
                                            <div class="input-group">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Sale price"
                                                       ng-model="Product.price"
                                                       ng-pattern="pricePattern"
                                                       valid-number
                                                       required/>
                                                <span class="input-group-addon">{{ Product.currency ? Product.currency : 'GBP' }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-3 control-label">Base price:</label>
                                        <div class="col-sm-9 col-lg-4 ">
                                            <div class="input-group">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Base price"
                                                       ng-model="Product.originalPrice"
                                                       ng-pattern="pricePattern"
                                                       ng-disabled="!Product.price"
                                                       ng-class="{'invalid' : ((Product.price > Product.originalPrice) && (Product.originalPrice !== ''))}"
                                                       valid-number/> <span class="input-group-addon">{{ Product.currency ? Product.currency : 'GBP' }}</span>

                                            </div>
                                            <div ng-show="(Product.price > Product.originalPrice) && (Product.originalPrice !== '')" class="invalid-message">
                                                Sales price cannot be higher than base price
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group"><label class="col-sm-3 control-label">Shipping cost:</label>
                                        <div class="col-sm-9 col-lg-4">
                                            <div class="input-group">
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="{{ Merchant.defaultShipmentFee }}"
                                                       ng-model="Product.shippingCost"
                                                       ng-pattern="pricePattern"
                                                       min="0"
                                                       valid-number/> <span class="input-group-addon">{{ Product.currency ? Product.currency : 'GBP' }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Materials:</label>
                                        <div class="col-sm-9">
                                            <div class="col-md-9 col-sm-10 no-padding" ng-repeat="lines in Product.materialsSelected">
                                                <div class="col-sm-6 no-padding">
                                                    <select class="form-control"
                                                            ng-model="Product.materialsSelected[$index].material"
                                                            ng-change="materialDisable()"
                                                            ng-disabled="$index < Product.productMaterialsUntouchebles">
                                                        <option ng-repeat="material in materialsList"
                                                                ng-value="material.text"
                                                                value="{{material.text}}"
                                                                ng-show="!material.picked">
                                                            {{material.text}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-5 no-padding">
                                                    <input type="number"
                                                           class="form-control"
                                                           ng-model="Product.materialsSelected[$index].percentage"
                                                           ng-change="percentageCheck()"
                                                           ng-disabled="$index < Product.productMaterialsUntouchebles"
                                                           ng-class="{'invalid': (percentageChecker > 100 || Product.materialsSelected[$index].percentage < 0) }"
                                                           placeholder="Type a percentage"/>
                                                </div>
                                                <div class="col-sm-1">
                                                    <button class="btn btn-warning btn-xs btn-circle"
                                                            ng-click="Product.materialsSelected.splice($index, 1);"
                                                            ng-show="Product.materialsSelected.length > 1 && Product.materialsSelected[$index].touchable">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-1">
                                                <button class="btn btn-primary btn-xs btn-circle" type="button" ng-click="addMoreMaterials()">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"> Colors: </label>
                                        <div class="col-sm-9">
                                            <div class="col-md-9 col-sm-11 no-padding" ng-repeat="lines in Product.colorsSelected">
                                                <div class="col-sm-6 no-padding">
                                                    <select class="form-control"
                                                            ng-model="Product.colorsSelected[$index].color"
                                                            ng-change="colorDisable(true)"
                                                            ng-disabled="$index < Product.productColorsUntouchebles">
                                                        <option ng-repeat="color in colorsList"
                                                                ng-value="color.color"
                                                                ng-show="!color.picked"
                                                                value="{{color.color}}">
                                                            {{color.color}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <!--<div class="col-sm-5 no-padding">-->
                                                <!--<div class="btn-group my-dropdowns">-->
                                                <!--&lt;!&ndash; <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false">-->
                                                <!--<div>{{colorsTable[$index].picture}}</div>-->
                                                <!--<span class="caret"></span></button>-->
                                                <!--<ul class="dropdown-menu">-->
                                                <!--<li ng-repeat="prodPic in imgT" ng-click="lines.picture = prodPic.name; pictureDisable()"-->
                                                <!--class="form-control" ng-show="!prodPic.picked">-->
                                                <!--{{prodPic.name}}-->
                                                <!--</li>-->
                                                <!--</ul> &ndash;&gt;-->
                                                <!--<isteven-multi-select-->
                                                <!--input-model="imgT"-->
                                                <!--output-model="colorsTable[$index].picture"-->
                                                <!--button-label="name"-->
                                                <!--item-label="name"-->
                                                <!--tick-property="ticked"-->
                                                <!--disable-property="picked"-->
                                                <!--/>-->
                                                <!--{{ colorsTable[$index].picture }}-->
                                                <!--</div>-->

                                                <!--&lt;!&ndash; <select ng-options="prodPic.name as prodPic.name for prodPic in imgT" class="form-control" ng-model="colorsTable[$index].picture" ng-change=""> &ndash;&gt;-->
                                                <!--&lt;!&ndash; < ng-value="prodPic[$index].name" ng-show="!prodPic.picked" value="{{prodPic[$index].name}}">-->
                                                <!--{{prodPic.name}}-->
                                                <!--</ng-options> &ndash;&gt;-->
                                                <!--&lt;!&ndash; </select> &ndash;&gt;-->
                                                <!--</div>-->
                                                <div class="col-sm-1">
                                                    <button class="btn btn-warning btn-xs btn-circle"
                                                            ng-click="Product.colorsSelected.splice($index, 1); generateVariations(); generateColorsImages();"
                                                            ng-show="Product.colorsSelected.length > 1 && Product.colorsSelected[$index].touchable">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-1">
                                                <button class="btn btn-primary btn-xs btn-circle" ng-click="addMoreColors()">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="Product.sizesTypes">
                                        <label class="col-sm-3 control-label">Sizes:</label>
                                        <div class="col-sm-9">
                                            <div class="col-sm-9 no-padding">
                                                <div class="col-sm-6 no-padding">
                                                    <select class="form-control"
                                                            ng-model="Product.sizesType"
                                                            ng-change="getSizesForType(Product.sizesType)"
                                                            ng-disabled="edition">
                                                        <option ng-repeat="type in Product.sizesTypes" ng-value="type" value="{{type}}">
                                                            {{type}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6 no-padding" ng-show="Product.sizesType">
                                                    <isteven-multi-select input-model="Product.sizesList"
                                                                          output-model="Product.sizesSelected"
                                                                          button-label="text"
                                                                          item-label="text"
                                                                          tick-property="ticked"
                                                                          disable-property="disabled"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <table class="table table-stripped toggle-arrow-tiny" data-page-size="15">
                                    <thead>
                                    <tr>
                                        <th>SKU</th>
                                        <th data-toggle="true">Color</th>
                                        <th>Size</th>
                                        <th width="200">Stock</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="variation in Product.productVariationsUntouchebles">
                                        <td>

                                            <input type="text" class="form-control" ng-model="variation.sku" disabled/>
                                            <!-- <input type="text" class="form-control" ng-model="editCtrl.varSKUList[$index]" ng-show="editCtrl.varSKUList[$index]"/> -->
                                        </td>
                                        <td>{{ variation.color }}</td>
                                        <td>{{ variation.sizeSelect }}</td>
                                        <td>
                                            <!--<ng-touch-spin ng-model="variaition.stock" step="1" min="0" initval="{{ variation.stock }}"></ng-touch-spin>-->
                                            <div class="form-group">
                                                <input type="number" ng-model="variation.stock" min="0" max="1000" class="form-control"/>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="variation in Product.productVariations">
                                        <td>

                                            <input type="text" class="form-control" ng-model="variation.sku"/>
                                            <!-- <input type="text" class="form-control" ng-model="editCtrl.varSKUList[$index]" ng-show="editCtrl.varSKUList[$index]"/> -->
                                        </td>
                                        <td>{{ variation.color }}</td>
                                        <td>{{ Product.sizesType }} {{ variation.size }}</td>
                                        <td>
                                            <!--<ng-touch-spin ng-model="variaition.stock"-->
                                                           <!--step="1"-->
                                                           <!--min="0"-->
                                                           <!--initval="{{ variation.stock }}"></ng-touch-spin>-->
                                            <div class="form-group">
                                                <input type="number" ng-model="variation.stock" min="0" max="1000" class="form-control"/>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>

                        <uib-tab heading="Images">
                            <div class="panel-body ng-scope images-block">
                                <h3>Click to delete image</h3>
                                <div ng-repeat="image in Product.productImages"
                                     class="col-sm-3 image-thumbs"
                                     ng-click="removeFile($index, image.name)">
                                    <img ng-src="{{image.location}}{{image.name}}"/> <span>{{image.name}}</span>
                                </div>
                                <div class="col-sm-12 no-padding">
                                    <form name="myForm" class="ng-invalid ng-invalid-required ng-dirty">
                                        <fieldset class="form-horizontal ng-binding">
                                            <div class="col-sm-12 drop-box"
                                                 ngf-drop="saveImages(files)"
                                                 ngf-select="saveImages(files)"
                                                 ng-model="files"
                                                 ngf-drag-over-class="'dragover'"
                                                 ngf-multiple="true"
                                                 ngf-allow-dir="true"
                                                 accept="image/*"
                                                 ngf-accept="'image/*'"
                                                 required=""
                                                 ngf-pattern="'image/*'"
                                                 ngf-keep="'distinct'">
                                                <span class="onDropText">Drop images here or click to upload</span>
                                                <!--<ul class="col-sm-12 files-preview">-->
                                                <!--<li ng-repeat="f in files" style="font:smaller">-->
                                                <!--<div class="delete-img" ng-click="files.splice($index, 1); removePic($index, files.length)">-->
                                                <!--<i class="fa fa-times"></i>-->
                                                <!--</div>-->
                                                <!--<img ngf-src="!files[$index].$error && files[$index]" class="thumb ng-hide"/> {{f.name}} {{f.$error}}-->
                                                <!--{{f.$errorParam}}-->
                                                <!--</li>-->
                                                <!--</ul>-->
                                            </div>
                                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                            <!--    <h3 class="col-sm-12">Files:</h3> -->
                                            <!--


                                            <button  class="btn btn-xs btn-primary" ng-disabled="!myForm.$valid" ng-click="" disabled="disabled">Submit</button> -->
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Colors and images">
                            <div class="panel-body" ng-show="!Product.colorsAndImages.ready">
                                <fieldset class="form-horizontal">
                                    <h2>You must upload images and choose colors</h2>
                                </fieldset>
                            </div>
                            <div class="panel-body colors-images" ng-show="Product.colorsAndImages.ready">
                                <div ng-repeat="(type, value) in Product.colorsAndImages">
                                    <div ng-if="type === 'colors'">
                                        <div class="colors col-sm-9 pull-right">
                                            <div ng-repeat="object in value">
                                                <div class="panel">
                                                    <div class="panel-heading" ng-init="object.show = true">
                                                        {{object.color}} <i class="fa fa-caret-down"
                                                                            aria-hidden="true"
                                                                            ng-show="object.show"
                                                                            ng-click="object.show = !object.show"></i> <i class="fa fa-caret-up"
                                                                                                                          aria-hidden="true"
                                                                                                                          ng-show="!object.show"
                                                                                                                          ng-click="object.show = !object.show"></i>
                                                    </div>
                                                    <div class="panel-body" ng-show="object.show">
                                                        <ul dnd-list="object.images" dnd-drop="onDrop(object, item, index)">
                                                            <li ng-repeat="image in object.images" dnd-draggable="chosenImage(object, image)">
                                                                <img ng-src="{{image.location}}{{image.name}}"/> <i class="fa fa-times"
                                                                                                                    aria-hidden="true"
                                                                                                                    ng-click="object.images.splice($index, 1)"> </i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="type === 'images'">
                                        <div class="images col-sm-3">
                                            <div ng-repeat="object in value">
                                                <div class="panel">
                                                    <div class="panel-heading" ng-init="object.show = true">
                                                        {{object.color}} <i class="fa fa-caret-down"
                                                                            aria-hidden="true"
                                                                            ng-show="object.show"
                                                                            ng-click="object.show = !object.show"></i> <i class="fa fa-caret-up"
                                                                                                                          aria-hidden="true"
                                                                                                                          ng-show="!object.show"
                                                                                                                          ng-click="object.show = !object.show"></i>
                                                    </div>
                                                    <div class="panel-body" ng-show="object.show">
                                                        <ul dnd-list="object.images" dnd-disable-if="true">
                                                            <li ng-repeat="image in object.images"
                                                                dnd-draggable="selectedImages(object, image)"
                                                                dnd-dragend="drugEnd(object)"
                                                                dnd-selected="image.selected = !image.selected"
                                                                ng-class="{'selected': image.selected}">
                                                                <img ng-src="{{image.location}}{{image.name}}"/>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="panel col-sm-6">-->
                            <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">Your colors</h3>-->
                            <!--</div>-->
                            <!--<div class="panel-body" ng-show="colorsSelected.length > 0 && colorsSelected[0] !== ''">-->
                            <!--<div ng-repeat="colorAndImages in colorsAndImages | filter: { color: '!nocolor' }">-->
                            <!--<div class="panel">-->
                            <!--<div class="panel-heading">-->
                            <!--{{colorAndImages.color}}-->
                            <!--</div>-->
                            <!--<div class="panel-body">-->
                            <!--<ul dnd-list="colorAndImages.images">-->
                            <!--<li class="col-sm-6"-->
                            <!--ng-repeat="image in colorAndImages.images"-->
                            <!--dnd-draggable="image">-->
                            <!--<img ng-src="{{image.location}}{{image.name}}"/>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="panel-body" ng-show="colorsSelected.length < 1 || colorsSelected[0] == ''">-->
                            <!--<fieldset class="form-horizontal">-->
                            <!--<h2>You must choose colors first!</h2>-->
                            <!--</fieldset>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="panel col-sm-6">-->
                            <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">Your uploaded files</h3>-->
                            <!--</div>-->
                            <!--<div class="panel-body" ng-show="files">-->
                            <!--<div ng-repeat="colorAndImages in colorsAndImages | filter: { color: 'Nocolor' }">-->
                            <!--<div class="panel">-->
                            <!--<div class="panel-heading">-->
                            <!--{{colorAndImages.color}}-->
                            <!--</div>-->
                            <!--<div class="panel-body">-->
                            <!--<ul dnd-list="colorAndImages.images">-->
                            <!--<li class="col-sm-6"-->
                            <!--ng-repeat="image in colorAndImages.images"-->
                            <!--dnd-draggable="image">-->
                            <!--<img ng-src="{{image.location}}{{image.name}}"/>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div class="panel-body" ng-show="files">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="col-sm-6 image-thumbs" ng-repeat="file in files">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img ng-src="{{file.location}}{{file.name}}"/> {{file.name}}&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div class="panel-body" ng-show="!files">-->
                            <!--<fieldset class="form-horizontal">-->
                            <!--<h2>You must upload images first!</h2>-->
                            <!--</fieldset>-->
                            <!--</div>-->
                            <!--</div>-->
                        </uib-tab>
                        <uib-tab ng-if="Product.commentSummary" heading="Comments">
                            <div class="panel-body"></div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Actions</h5>
                    </div>
                    <div class="ibox-content">
                        <!--<div class="btn-group">-->
                        <button class="btn btn-success disabled" type="button" ng-show="canSave == false">
                            <i class="fa fa-save"></i> Save
                        </button>
                        <button class="btn btn-success" type="button" ng-show="canSave == true" ng-click="saveProduct()">
                            <i class="fa fa-save"></i> Save
                        </button>
                        <!--<button class="btn" type="button" ng-click="saveAndPublish()"-->
                        <!--ng-class="{'btn-white': !serverResponse, 'btn-warning': serverResponse}" disabled="!serverResponse">-->
                        <!--<i class="fa fa-save"></i> and Publish-->
                        <!--</button>-->
                        <!--</div>-->
                    </div>
                </div>


                <div class="ibox float-e-margins" ng-if="Product.added">
                    <div class="ibox-title">
                        <h5>History</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-stripped">
                            <tr>
                                <td class="no-borders">
                                    <i class="fa fa-clock-o text-navy"></i>
                                </td>
                                <td class="no-borders">Added:</td>
                                <td class="no-borders">
                                    <span am-time-ago="Product.added"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-clock-o text-primary"></i>
                                </td>
                                <td>Last modification:</td>
                                <td>
                                    <span am-time-ago="Product.modified"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div><!--<div ng-controller="ProductEditCtrl as editCtrl" ng-show="noData">--><!--<div class="row wrapper border-bottom white-bg page-heading">--><!--<div class="col-lg-10">--><!--<h2>Product {{ Product.id ? 'edit' : 'add' }}</h2>--><!--<ol class="breadcrumb">--><!--<li>--><!--<a ui-sref="admin.main">Home</a>--><!--</li>--><!--<li>--><!--<a>Products</a>--><!--</li>--><!--<li class="active">--><!--<strong>{{ pageTitle }} </strong>--><!--<span ng-switch="Product.status">--><!--<span class="label label-primary" ng-switch-default>{{ Product.status }}</span>--><!--<span class="label label-danger" ng-switch-when="Removed">{{ Product.status }}</span>--><!--<span class="label label-plain" ng-switch-when="Draft">{{ Product.status }}</span>--><!--</span> <span class="label label-warning" ng-if="Product.id && (Product.finalStock < 15 && Product.finalStock > 0)">Low stock</span> <span--><!--class="label label-danger" ng-if="Product.id && (Product.finalStock < 5 && Product.finalStock > 0)">Last items</span> <span--><!--class="label label-default" ng-if="Product.id && (Product.finalStock == 0 || !Product.finalStock)">Out of stock</span>--><!--</li>--><!--</ol>--><!--</div>--><!--</div>--><!--<div class="row">--><!--<div class="col-lg-12">--><!--<div class="ibox">--><!--<div class="middle-box text-center animated fadeInDown">--><!--<h1>404</h1>--><!--<h3 class="font-bold">Product Not Found</h3>-->

<!--<div class="error-desc">--><!--Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser--><!--or try found something else in our app.--><!--<form class="form-inline m-t" role="form">--><!--<a ui-sref="product.list" class="btn btn-primary">Return</a>--><!--</form>--><!--</div>--><!--</div>--><!--</div>--><!--</div>--><!--</div>-->

<!--</div>-->
