<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Published products</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="admin.main">Home</a>
            </li>
            <li>
                <a>Products</a>
            </li>
            <li class="active">
                <strong>Published</strong>
            </li>
        </ol>
    </div>
    <!--<div class="col-lg-8"></div>-->
</div>


<div class="wrapper wrapper-content animated fadeInRight" eui-index="'products'" ng-controller="ProductListCtrl as products">
    <input type="hidden" eui-filter="ejs.TermsFilter('merchantId', auth.profile.merchantId)" eui-enabled="auth.profile.merchantId != null"/> <input
        type="hidden"
        eui-sort="ejs.Sort(sortType).order(sortReverse ? 'asc' : 'desc')"
        eui-enabled="true"/>
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="product_name">Search</label> <input type="text"
                                                                                          eui-enabled="querystring.length"
                                                                                          eui-query="ejs.MatchQuery('_all', querystring)"
                                                                                          ng-model="querystring"
                                                                                          id="product_name"
                                                                                          name="product_name"
                                                                                          placeholder="Product Name"
                                                                                          class="form-control"/>
                </div>
            </div>
            <!--<div class="col-sm-2">-->
            <!--<div class="form-group">-->
            <!--<label class="control-label" for="price">Price</label>-->
            <!--<ion-range-slider type="double" min="18" max="60" from="model.age.min" to="model.age.max" id="price" name="price"></ion-range-slider>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="col-sm-4">-->
            <!--<div class="form-group">-->
            <!--<label class="control-label" for="quantity">Quantity</label>-->
            <!--<input type="text" id="quantity" name="quantity" value="" placeholder="Quantity" class="form-control">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
            <!--<div class="form-group">-->
            <!--<label class="control-label" for="quantity">Quantity</label>-->
            <!--<input type="text" id="quantity" name="quantity" value="" placeholder="Quantity" class="form-control">-->
            <!--</div>-->
            <!--</div>-->

            <!-- <ul class="nav nav-list col-sm-4" eui-aggregation="ejs.TermsAggregation('status').field('status').size(5)">
                <li ng-repeat="bucket in aggResult.buckets">
                    <label class="checkbox" eui-filter="ejs.TermsFilter('status', bucket.key)">
                        <input type="checkbox" ng-model="filter.enabled">
                        {{bucket.key}} ({{bucket.doc_count}})
                    </label>
                </li>
            </ul> -->
            <div class="col-md-4">
                <label class="control-label">Status</label> <select class="form-control nav nav-list col-sm-4"
                                                                    ng-model="filter.enabled"
                                                                    eui-filter="ejs.TermsFilter('status', filter.enabled)">
                <option value="" selected="selected">
                    All
                </option>
                <option value="public">
                    Public
                </option>
                <option value="disabled">
                    Disabled
                </option>
                <option value="blocked">
                    Blocked
                </option>
            </select>

            </div>
            <!--  <div class="col-md-4" >
                 <label class="control-label" >Price-range</label>
                 <section data-ticks="true" data-range-slider="" class="range-slider ng-isolate-scope ng-not-empty ng-valid" step="0.5" ng-model="range" min="0" max="max"  ng-mouseup=" rangeLeft = range.to">
                     <input list="numbers" type="range" ng-change="_which = 0" ng-model="_model[0]" min="0" max="15" step="0.5" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                     <input type="range" ng-change="_which = 1;" ng-model="_model[1]" min="0" max="15" step="0.5" class="ng-pristine ng-valid ng-not-empty ng-touched"  >
                 </section>
                 {{range.to}}
                 <ul class="from-to">
                     <li><label>From:</label><input type="number" ng-model="range.from" class="ng-pristine ng-untouched ng-valid ng-not-empty"></li>
                     <li><label>To:</label><input type="text" eui-enabled="rangeLeft.length" ng-model="rangeLeft" eui-query="ejs.MatchQuery('price', rangeLeft)" class="ng-pristine ng-untouched ng-valid ng-not-empty" ></li>
                 </ul>
             </div>
              -->
            <!-- <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="prices">Quantity</label>
                    <input type="text" id="quantity" name="quantity" value="" placeholder="Quantity" class="form-control">
                </div>
            </div> -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content" ng-init="products.showRight = 0">
                    <table class="table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <button class="btn btn-primary pull-left btn-xs"
                                ng-click="selectAll=true; processItemPick(selectAll, indexVM.results.hits.hits.length); products.showRight = indexVM.results.hits.hits.length">
                            <i class="fa fa-truck"></i> Select All
                        </button>
                        <button class="btn btn-warning pull-left btn-xs"
                                ng-click="selectAll=false; processItemPick(selectAll, indexVM.results.hits.hits.length); products.showRight = 0">
                            <i class="fa fa-minus-circle"></i> Deselect All
                        </button>
                        <button class="btn btn-success pull-right btn-xs"
                                ng-click="processItems(indexVM.results.hits.hits, 'activate')"
                                ng-show="products.showRight > 0">
                            <i class="fa fa-truck"></i> Publish selected
                        </button>
                        <button class="btn btn-danger pull-right btn-xs"
                                ng-click="processItems(indexVM.results.hits.hits, 'deactivate')"
                                ng-show="products.showRight > 0">
                            <i class="fa fa-minus-circle"></i> Disable Selected
                        </button>
                        <button class="btn btn-success pull-right btn-xs"
                                uib-popover-template="massEditTemplate"
                                ng-show="products.showRight > 0"
                                popover-trigger="outsideClick"
                                popover-is-open="popoverIsOpen">
                            <i class="fa fa-truck"></i> Mass Edit
                        </button>
                        <thead>
                        <tr>
                            <th width="110px">
                                <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">Status
                                    <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-sort-amount-desc"></span>
                                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-sort-amount-asc"></span> </a>
                            </th>
                            <th></th>
                            <th>
                                <a href="#" ng-click="sortType = 'merchantProductId'; sortReverse = !sortReverse">Product ID
                                    <span ng-show="sortType == 'merchantProductId' && !sortReverse" class="fa fa-sort-amount-desc"></span> <span
                                            ng-show="sortType == 'merchantProductId' && sortReverse"
                                            class="fa fa-sort-amount-asc"></span> </a>
                            </th>
                            <th data-toggle="true">
                                <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">Product Name
                                    <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-sort-amount-desc"></span>
                                    <span ng-show="sortType == 'title' && sortReverse" class="fa fa-sort-amount-asc"></span> </a>
                            </th>
                            <!--<th data-hide="price" class="product-price-list">-->
                            <!--<a href="#" ng-click="sortType = 'originalPrice'; sortReverse = !sortReverse">Orig-->
                            <!--<span ng-show="sortType == 'originalPrice' && !sortReverse" class="fa fa-sort-amount-desc"></span>-->
                            <!--<span ng-show="sortType == 'originalPrice' && sortReverse" class="fa fa-sort-amount-asc"></span> </a>-->
                            <!--</th>-->
                            <th data-hide="price" class="product-price-list">
                                <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">Price
                                    <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-sort-amount-desc"></span>
                                    <span ng-show="sortType == 'price' && sortReverse" class="fa fa-sort-amount-asc"></span> </a>
                            </th>
                            <th data-hide="price">Curr.</th>
                            <th>
                                <a href="#" ng-click="sortType = 'finalStock'; sortReverse = !sortReverse">Stock
                                    <span ng-show="sortType == 'finalStock' && !sortReverse" class="fa fa-sort-amount-desc"></span>
                                    <span ng-show="sortType == 'finalStock' && sortReverse" class="fa fa-sort-amount-asc"></span> </a>
                            </th>
                            <th data-sort-ignore="true" class="text-right action-column" width="75">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="doc in indexVM.results.hits.hits">
                            <td ng-switch="doc._source.status">
                                <div class="col-lg-1 col-md-2 col-xs-1 checkbox-section">
                                    <div class="checkbox checkbox-success products-list">
                                        <input id="{{'checkbox' + $index}}"
                                               type="checkbox"
                                               ng-model="itemNumber[$index]"
                                               ng-change="products.showRight  = (itemNumber[$index]) ? products.showRight + 1 : products.showRight - 1;"/>
                                        <label for="{{'checkbox' + $index}}"> </label>
                                    </div>
                                </div>
                                <span class="label label-primary" ng-switch-default>{{ doc._source.status }}</span> <span class="label label-plain"
                                                                                                                          ng-switch-when="DISABLED">{{ doc._source.status }}</span>
                                <span class="label label-danger" ng-switch-when="BLOCKED">{{ doc._source.status }}</span>
                            </td>
                            <td><img ng-src="//web-img.some_url/{{ doc._source.images[0] }}" height="50"/></td>
                            <td>
                                {{ doc._source.merchantProductId}}
                            </td>
                            <td>
                                {{ doc._source.title | shorten: 70}}
                            </td>
                            <td>
                                <strong ng-init="(doc._source.price > max) ? max=doc._source.price: ''">{{ doc._source.price | number:2 }}</strong>
                            </td>
                            <td>
                                <strong>{{ doc._source.currency }}</strong>
                            </td>
                            <td>
                                <span class="badge badge-primary"
                                      ng-class="{'yellow' : doc._source.finalStock <= 2, 'red' : doc._source.finalStock == 0}">{{ doc._source.finalStock}}</span>
                            </td>

                            <td class="text-right action-column" style="min-width: 110px">
                                <div class="btn-group btn-group-xs" uib-dropdown>
                                    <!--<button id="split-button" type="button" class="btn btn-success" ui-sref="product.edit({productID: doc._source.id})">-->
                                    <button id="split-button" type="button" class="btn btn-success" ng-click="stockChangeModal(doc._source.id)">
                                        Quick edit
                                    </button>
                                    <button type="button" class="btn btn-success" uib-dropdown-toggle>
                                        <span class="caret"></span> <span class="sr-only">Actions</span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                        <li role="menuitem">
                                            <a ui-sref="product.edit({productID: doc._source.id})">Product edit</a>
                                        </li>
                                        <li role="menuitem">
                                            <a href="#" ng-click="viewTheProduct(doc._source)">Product preview</a>
                                        </li>
                                        <li role="menuitem"
                                            ng-show="doc._source.status == 'PUBLIC'"
                                            ng-click="processItem(indexVM.results.hits.hits, 'deactivate', $index)">
                                            <a href="#">Disable product</a>
                                        </li>
                                        <li role="menuitem"
                                            ng-show="doc._source.status == 'DISABLED'"
                                            ng-click="processItem(indexVM.results.hits.hits, 'activate', $index)">
                                            <a href="#">Publish product</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2">
                                <span uib-dropdown>
                                  <a href id="simple-dropdown" uib-dropdown-toggle>
                                      See {{ indexVM.pageSize }} results per page
                                  </a>
                                  <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                                      <li ng-repeat="item in [20, 50, 100]"><a href ng-click="indexVM.pageSize = item">{{ item }}</a></li>
                                  </ul>
                                </span>
                            </td>
                            <td colspan="6">

                                <uib-pagination total-items="indexVM.results.hits.total"
                                                item-per-page="{{ indexVM.pageSize }}"
                                                max-size="10"
                                                num-pages="indexVM.pageCount"
                                                ng-model="indexVM.page"
                                                boundary-links="true"
                                                boundary-link-numbers="true"
                                                class="pagination pull-right"
                                                previous-text="&lsaquo;"
                                                next-text="&rsaquo;"
                                                first-text="&laquo;"
                                                last-text="&raquo;"></uib-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
